.tab-container {
    //border: 1px solid #ccc;
    border: none;
    padding: 2%;
    overflow: scroll;
  }
  
  .tab-button {
    background-color: #f9f7f7;
    border: none;
    padding: 4% 6%;
    font-size: 150%;
    cursor: pointer;
    overflow: scroll;
  }
  
  .tab-button.active {
    background-color: #acb501;
    color: #ffffff;
    overflow: scroll;
  }
  
  .tab-content {
    display: none;
    overflow: scroll;
  }
  
  .inner-tab-container {
    margin-top: 5%;
    border:none;
    overflow: scroll;
  }
  
  .inner-tab-button {
    background-color: #f6f3f3;
    border: none;
    padding: 3% 5%;
    font-size: 100%;
    cursor: pointer;
    overflow: scroll;
  }
  
  .inner-tab-button.active {
    background-color: #ff0999;
    color: #ffffff;
    overflow: scroll;
  }
  
  .inner-tab-content {
    display: none;
    overflow: scroll;
  }
  
  .padded-list {
    padding: 1% 1%;
    color: #0078e2;
    overflow: scroll;
  }
  .badge-vid {
    background-color: rgb(27, 49, 168);
    color: white;
    padding: 1% 1%;
    text-align: center;
    border-radius: 30%;
    text-decoration: none;
    overflow: scroll;
  }
  .badge-slides {
    background-color: rgb(56, 150, 12);
    color: white;
    padding: 1% 1%;
    text-align: center;
    border-radius: 30%;
    text-decoration: none;
    overflow: scroll;
  }
  .badge-chat {
    background-color: rgb(9, 249, 225);
    color: white;
    padding: 1% 1%;
    text-align: center;
    border-radius: 30%;
    text-decoration: none;
    overflow: scroll;
  }
  .badge-discord {
    background-color: rgb(169, 172, 171);
    color: white;
    padding: 1% 1%;
    text-align: center;
    border-radius: 30%;
    text-decoration: none;
    overflow: scroll;
  }
  .badge-links{
    text-decoration: none;
    color:white; 
    overflow: scroll;
  }
