<td padding-right="0"></td><a href="mailto:hello [at] yacademy [dot] dev" text-decoration: none;>
    <img src="/assets/images/email.png" width="22" border="" hspace=".75">
</a></td>
<td padding-right="0"><a href="https://github.com/yacademy/audits" target="_blank">
    <img src="/assets/images/github.png" width="20" height="0" border="" hspace=".75">
</a></td>
<td padding-right="0"><a href="https://medium.com/yacademyblog" target="_blank">
    <img src="/assets/images/medium.png" width="20" border="" hspace="1.5">
</a></td>
<td padding-right="0"><a href="https://twitter.com/yAcademyDAO" target="_blank">
    <img src="/assets/images/twitter.png" width="22" height="25" border="" hspace=".5">
</a></td> 
<td padding-right="0"><a href="https://youtube.com/yAcademyDAO" target="_blank">
    <img src="/assets/images/youtube.png" width="22" height="25" border="" hspace=".5">
</a></td> 
<br><br><br><br>
